<table width="100%" border="0" cellpadding="10px" cellspacing="0" align="center">
    <tbody>
        <tr>
            <td width="100%" valign="top" bgcolor="#ECEEF0">
                <table width="600" border="0" cellpadding="10px" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td width="100%" bgcolor="#FFFFFF">
                                <table bgcolor="#FFFFFF" width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="10px" cellspacing="0" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <img src="https://media.datalocker.com/images/safeconsole/logo/sc_logo_32.png" alt="SafeConsole" border="0" style="max-height: 32px;">
                                                            </td>
                                                            <td width="300" style="font-size:20px;color:#ae0000;text-align:right;font-family:Helvetica,Arial,sans-serif;line-height:20px;vertical-align:middle">
                                                                <div>Simply Secure Management</div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#FFFFFF">
                                                <p>{full-name-added-by} {admin-email} has authorized you to connect to your organization's SafeConsole Server.
                                                </p>
                                                <br>
                                                <br>
                                                <div ui-view="" class="page-body ng-scope">
                                                    <h1 class="text-center ng-binding">Quick Start Guide for Device Registration</h1>
                                                    <div class="col-sm-12">
                                                        <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                        <div class="col-sm-6 col-xs-12 instruction-container">
                                                            <h2 class="instructions text-center text-primary ng-binding" style="">Step 1: Run the SafeCrypt Application</h2>
                                                            <div class="instruction-content" compile="tutorial.instruction_content"></div>
                                                        </div>
                                                        <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;">
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <img class="img-responsive center-block" src="mailPics/step1.png">
                                                        </div>
                                                    </div>
                                                </div>
												
												<hr />
												
                                                <div class="col-sm-12">
                                                    <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                    <div class="col-sm-6 col-xs-12 instruction-container">
                                                        <h2 class="instructions text-center text-primary ng-binding" style="">Step 2: Enter email address </h2>
                                                    </div>
                                                    <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <img class="img-responsive center-block" src="mailPics/step2.png">
                                                    </div>
                                                </div>
												
												<hr />
												
                                                <div ng-repeat="tutorial in tutorials" class="ng-scope">
                                                    <div class="col-sm-12">
                                                        <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                        <div class="col-sm-6 col-xs-12 instruction-container"></div>
                                                            <h2 class="instructions text-center text-primary ng-binding" style="">Step 3: Create a new drive</h2>
                                                        </div>
                                                        <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <img class="img-responsive center-block" src="mailPics/step3.png">
                                                        </div>
                                                    </div>
                                                </div>
												
												<hr />
												
                                                <div class="col-sm-12">
                                                    <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                    <div class="col-sm-6 col-xs-12 instruction-container">
                                                        <h2 class="instructions text-center text-primary ng-binding" style="">Step 4: Enter your connection-token</h2>
                                                        <p>You can obtain your connection token from your SafeConsole Server. If you do not have access to the SafeConsole Server, please contact your System Administrator.</p>
                                                    </div>
                                                    <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <img class="img-responsive center-block" src="mailPics/step4a.png">
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <img class="img-responsive center-block" src="mailPics/step4b.png">
                                                    </div>
                                                </div>
                                                
												<hr />
												
                                                <div ng-repeat="tutorial in tutorials" class="ng-scope">
                                                    <div class="col-sm-12">
                                                        <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                        <div class="col-sm-6 col-xs-12 instruction-container">
                                                            <h2 class="instructions text-center text-primary ng-binding" style="">Step 5: Set the name and location of your SafeCrypt drive</h2>
                                                        </div>
                                                        <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                        </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <img class="img-responsive center-block" src="mailPics/step5.png">
                                                    </div>
                                                </div>
                                                </div>
												
												<hr />
												
                                                <div ng-repeat="tutorial in tutorials" class="ng-scope">
                                                    <div class="col-sm-12">
                                                        <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                        <div class="col-sm-6 col-xs-12 instruction-container">
                                                            <h2 class="instructions text-center text-primary ng-binding" style="">Step 6: Create a secure password</h2>
                                                        </div>
                                                        <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                        </div>                                                        
                                                        <div class="col-sm-6 col-xs-12">
                                                            <img class="img-responsive center-block" src="mailPics/Step6.png">
                                                        </div>
                                                    </div>
                                                </div>
												
                                                <hr />
                                                
                                                <div ng-repeat="tutorial in tutorials" class="ng-scope">
                                                    <div class="col-sm-12">
                                                        <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                        <div class="col-sm-6 col-xs-12 instruction-container">
                                                            <h2 class="instructions text-center text-primary ng-binding" style="">Step 7: Verify Safecrypt Drive shows up in SafeConsole</h2>
                                                        </div>
                                                        <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                        </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <img class="img-responsive center-block" src="mailPics/step7.png">
                                                    </div>
                                                </div>
                                                </div>
												
												<hr />
												
												<div ng-repeat="tutorial in tutorials" class="ng-scope">
                                                    <div class="col-sm-12">
                                                        <h2 class="text-center ng-binding" style="color:#D64635;"></h2>
                                                        <div class="col-sm-6 col-xs-12 instruction-container">
                                                            <h2 class="instructions text-center text-primary ng-binding" style="">You have successfully set up your SafeCrypt drive!</h2>
                                                            <div class="instruction-content" compile="tutorial.instruction_content"></div>
                                                        </div>
                                                        <div class="steps" style="
          background-repeat: no-repeat;
          background-color: transparent;
          position: relative;
            display: inline-block;
            width: 100%;
          color: #428bca;
        ">
                                                        </div>                                                        
                                                        <div class="col-sm-6 col-xs-12">
                                                            <img class="img-responsive center-block" src="mailPics/final.png">
                                                        </div>
                                                    </div>
                                                </div>
												
												<hr />
												
                                                <br>
                                                <br>
                                                <p>For further assistance with this process, please contact us at http://support.datalocker.com
                                                </p>

                                                <p>Best Regards,</p>
                                                <p>DataLocker Support Team</p>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>